name: R-CMD-check

on: [push, pull_request]

jobs:
  check:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest, r: 'devel'}
          - {os: ubuntu-latest, r: 'release'}
          - {os: ubuntu-latest, r: 'oldrel'}
          - {os: windows-latest, r: 'release'}
          - {os: windows-latest, r: 'oldrel'}
          - {os: macOS-latest, r: 'release'}
          - {os: macOS-11, r: 'release', arch: 'arm64'}

    steps:
    - uses: actions/checkout@v4

    - name: Cache LaTeX packages
      uses: actions/cache@v4
      with:
        path: |
          /usr/local/texlive
          ~/Library/TinyTeX
          ~/AppData/Roaming/TinyTeX
        key: ${{ runner.os }}-texlive-${{ hashFiles('**/DESCRIPTION') }}
        restore-keys: ${{ runner.os }}-texlive-

    - name: Set up R
      uses: r-lib/actions/setup-r@v2.6.5
      with:
        r-version: ${{ matrix.config.r }}

    - name: Install Linux system dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update -y
        sudo apt-get install -y libcurl4-openssl-dev libssl-dev libxml2-dev libudunits2-dev libgdal-dev libgeos-dev libproj-dev
        sudo apt-get install -y libfreetype6-dev libpng-dev libtiff5-dev libjpeg-dev libfontconfig1-dev
        sudo apt-get install -y libharfbuzz-dev libfribidi-dev
        sudo apt-get install -y libcurl4-gnutls-dev default-jdk
        sudo apt-get install -y libglpk-dev
        sudo R CMD javareconf
        sudo apt-get install -y texlive-latex-base texlive-fonts-recommended texlive-fonts-extra texlive-latex-extra

    - name: Install Windows system dependencies
      if: runner.os == 'Windows'
      run: |
        choco install miktex -y
        echo "C:\Program Files\MiKTeX\miktex\bin\x64" | Out-File -Append -FilePath $Env:GITHUB_PATH
        & "C:\Program Files\MiKTeX\miktex\bin\x64\initexmf.exe" --update-fndb


    - name: Install macOS system dependencies
      if: runner.os == 'macOS'
      run: |
        brew install --cask basictex
        echo "/Library/TeX/texbin" >> $GITHUB_PATH
        sudo /Library/TeX/texbin/tlmgr update --self --all
        sudo /Library/TeX/texbin/tlmgr install collection-latex collection-latexrecommended collection-fontsrecommended


    - name: Install rJava and other R dependencies
      run: |
        Rscript -e "install.packages('rJava')"
        Rscript -e "install.packages('remotes')"
        Rscript -e "remotes::install_cran(c('qdapTools', 'gender', 'openNLP', 'RCurl', 'venneuler', 'qdap', 'ggwordcloud', 'ragg', 'ggmap', 'openNLPdata', 'readr', 'tokenizers', 'anytime', 'mgsub', 'checkmate', 'visNetwork', 'lubridate', 'extrafont', 'testthat', 'ragg'))"

    - name: Check
      shell: bash
      run: R CMD build . && R CMD check *tar.gz --as-cran

